<%- include('header') -%>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Főoldal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container-fluid sec-cont">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Cím</h3>
                    <p>
                        <%= (typeof tura === 'undefined') ? '' : tura.cim %>
                    </p>
                    <h3>Táv(km)</h3>
                    <p>
                        <%= (typeof tura === 'undefined') ? '' : tura.tav %>
                    </p>
                    <h3>Rövid leírás</h3>
                    <p>
                        <%= (typeof tura === 'undefined') ? '' : tura.rovidLeiras %>
                    </p>
                    <h3>Hosszú leírás</h3>
                    <p>
                        <%= (typeof tura === 'undefined') ? '' : tura.hoszabbLeiras %>
                    </p>
                </div>
            </div>
        </div>
    </div>
<%- include('footer') -%>