<%- include('header') -%>
<%- include('loginMenu') -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Túra módosítás / létrehozás</h2>
                <form method="POST">
                    <div class="form-group">
                        <label for="cim">Cím</label>
                        <input type="text" class="form-control" id="cim" name="cim" value="<%= (typeof tura === 'undefined') ? '' : tura.cim %>">
                    </div>
                    <div class="form-group">
                        <label for="tav">Táv(km)</label>
                        <input type="text" class="form-control" id="tav" name="tav" value="<%= (typeof tura === 'undefined') ? '' : tura.tav %>">
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="descr">Rövid leírás</label>
                        </p>
                        <textarea cols="100" rows="5" id="descr" name="descr"><%= (typeof tura === 'undefined') ? '' : tura.rovidLeiras %></textarea>
                        <!-- <input class="form-control" id="tel" name="tel"> -->
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="longdescr">Hosszabb leírás</label>
                        </p>
                        <textarea cols="100" rows="7" id="longdescr" name="longdescr"><%= (typeof tura === 'undefined') ? '' : tura.hoszabbLeiras %></textarea>
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="filename">Útvonal feltöltés (gpx./kml./kmz.)</label>
                        </p>
                        <input type="file" id="filename" name="filename">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Mentés"/>
                    <!-- <a class="btn btn-primary" href="/route/001">Mentés</a> -->
                    <a class="btn btn-link" href="/route/<%= turazo._id %>">Mégsem</a>
                </form>
            </div>
        </div>
    </div>
<%- include('footer') -%>