<%- include('header') -%>
<%- include('loginMenu') -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2><%= turazo.nev %> túrái:</h2>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Cím
                        </th>
                        <th>
                            Táv (km)
                        </th>
                        <th>
                            Típus
                        </th>
                        <th>
                            Rövid leírás
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>

                    <% turak.forEach(function(tura){ %>
                        <tr>
                            <!-- todo: itt még valami nem stimmel, nem navigál át a  részletező nézetre (nem oda navigál)-->
                            <!-- routing index.js-ben megoldva, át kellett rendezni a routing sorrendet (kommentezve) -->
                            <td>
                                    <a href="/routes/<%= tura._id %>"><%= tura.cim %></a>
                            </td>
                            <td>
                                    <%= tura.tav %>
                            </td>
                            <td>
                                    <%= tura.rovidLeiras %>
                            </td>
                            <td>
                                    <%= tura.hoszabbLeiras %>
                            </td>
                            <td style="width:30px;white-space: nowrap">
                                <a href="/route/<%= turazo._id %>/edit/<%= tura._id %>" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                                <a href="/route/<%= turazo._id %>/del/<%= tura._id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                </table>
                <br />
                <a href="/route/001/new" class="btn btn-block btn-primary">Új útvonal hozzáadása</a>
            </div>
        </div>
    </div>
<%- include('footer') -%>