<%- include('header') -%>
<%- include('indexMenu') -%>
<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Túrázók listája</h2>
      <table class="table table-striped table-bordered">
          <tr>
              <th>
                Név
              </th>
              <th>
                Megtett kilóméter
              </th>
            </tr>
        <% turazoOsszeitettTavolsaga.forEach(function(turazo){ %>
          <tr>
              <td>
                  <%= (typeof turazo === 'undefined') ? '' : turazo.nev %>
              </td>
              <td>
                  <%= (typeof turazo === 'undefined') ? '' : turazo.tav %>
              </td>
            </tr>
        <% }); %>
      </table>
    </div>
  </div>
</div>

<%- include('footer') -%>